.body {
    
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: auto;
    height: auto;
    background-image: url(https://images7.alphacoders.com/372/372927.jpg);
    background-size: cover;
    
}

.body h1 {
    font-family: 'Quicksand', sans-serif;
    font-size: 70px;
    color: white;
    padding-right: 200px;
    padding-top: 100px;
    
}
#logo {
    position: relative;
    
   font-family: 'Press Start 2P', cursive;
    font-size: 40px;
    color: orange;
}

.login {
    width: 20%;
    height: 100%;
    float: left;
    background-color: black;
    position: fixed;
    padding: 100px;
}

.login h1 {
    font-size: 30px;
    color: orange;
} 

.login input[type=text], input[type=password] {
    padding: 9px 5px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: center;
    font-size: 15px;
}
.login input[type=submit] {
    
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 7px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 2px;
    cursor: pointer;
    border-radius: 3px;
}

.login input[type=submit]:hover {
    background-color: chocolate
}

#menu ul {
    background-color: black;
    list-style-type: none;
    overflow: hidden;
    height: 50%;
    margin: 0;
}

#menu li {
    float: left;
    color: white;
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    padding: 23px 170px;
    text-decoration: none;
}

#menu li:hover {
    background-color:firebrick;
}

#instDiv {
    width: 50%;
    padding-top: 50px;
    padding-left: 30px;
}
#instDiv p {
    color: snow;
    font-size: 40px;
    font-family: 'Quicksand', sans-serif, bold;
    
}



#box2 {
    float: right;
}

#buttonChoicePlayer button:hover {
    background-color: white;
}

#bt1 {                          /* logout button */
    border:none;
    background-color: black;
    height: 50px;
    width: 100px;
    color:white;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;   
}

#bt1:hover {
    background-color:firebrick;
}


#confPanel {
    height: 700px;
    width: 30%;
    background-color: black;
    display:block;
    align-items: center;
  
}

#confPanel h2 {
    padding-top: 10px;
    font-family: 'Quicksand', sans-serif;
    flex: right;
    font-size: 27px;
    padding-left: 30px;
    color: cornsilk;
}

#confPanel p {
    color: white;
    font-size: 20px;
    font-family: 'Quicksand', sans-serif, bold;
}

#buttonsPanel {
    padding-left: 20px;
    height:300px;
    width: 300px;
    display:inline-grid;
}


#buttonsPanel button {
    border:none;
    background-color: black;
    height: 50px;
    width: 125px;
    color:white;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px; 
}

select{
    width: 40%;;
    border-radius: 10px;
}

#buttonsPanel button:hover {
    background-color: white;
    color: black;
}

#buttonsPanel button:active {
    background-color: red;
}   

#barPanel input[type=text] {
    width: 40%;
    padding: 9px 5px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: center;
    font-size: 15px;
}


#tableSizeForRank {
    width: 40%;
    padding: 9px 5px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: center;
    font-size: 15px;   
}

#multiRankDiv {
    
      color: white;
    font-size: 20px;
    font-family: 'Quicksand', sans-serif, bold;
    padding-bottom: 100%;
}


#multiRankDiv button{
    
     border:none;
    background-color: black;
    height: 50px;
    width: 125px;
    color:white;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px; 
    
}


/*
    UI table
*/

#board {
    position:relative;
    width: 700px;
    height: 500px;
    padding-top: 120px;
    padding-left: 20px;
    padding-right: 300px;
}


#headerBoard{
    font-family: 'Quicksand', sans-serif;
    font-size: 30px;
    color: white;
    padding-right: 100px;
    padding-top: 20px;
    float:left;
    
}

#back  {
     border:none;
    background-color: black;
    height: 50px;
    width: 100px;
    color:white;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    float: right; 
}

#leaveButton {
    border:none;
    background-color: black;
    height: 50px;
    width: 100px;
    color:white;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    float: right; 
    
}

#back:hover {
    background-color: white;
    color:black;
}

#leaveButton:hover {
    background-color: white;
    color:black;
}

table {
    table-layout: fixed;
    border: none;
    color: white;
    height: 80%;
    border: 20px;
}

#mainTable tr { 
    border-radius: 100px;
}

#mainTable td {
   
    width: 80px;
    border-style:solid;
    border-color: white;
    background-image:url();
    background-position: center;
    border-radius: 500px;
}

#mainTable td:hover {
    background-image: url(https://image.flaticon.com/icons/png/128/60/60758.png);
    background-position: center;
}


/*
    ScoreBoard
*/

#scoreDiv {
    height: 60%;
    padding-left: 10%;
    padding-top: 10%;;
    padding-bottom: 100%;
}

#scoreDiv table {
    float: inherit;;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    width: 70%;
    height: 40%; 
    background-color: black;
}

#scoreDiv th{
    color: darkgoldenrod;
    font-size: 25px;
}

#buttonChoicePlayer {
    
    border:none;
    background-color: black;
    height: 50px;
    width: 150px;
    color:white;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    float: right
    
}

#buttonChoicePlayer:hover{
    background-color: white;
    color:black;
}


#registerPanel {

   margin-right: 27%;
    height: 20%;
    
    padding-top: 10%;
    float:right;
}

#component {
    width: 110%;
    height: 210%;
    padding-right: 10px;
    background-color: black;
    
}

#component h2 {
    padding-left: 5%;
    color: white;
    font-family: 'Quicksand', sans-serif;
}

#component h3 {
    padding-left: 5%;
    color: #4CAF50;
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
}

#component input[type=text]{
    border-radius: 6px;
    height: 14%;
}



#component input[type=button] {
    color: white;
    border: none;
    width: 25%;
    height: 10%;
    float: right;
    padding-right: 2%;
    background-color: #4CAF50;
    border-radius: 15px;
}

#component input[type=button]:hover{
    background-color: orange;
}

#multiButton {
    float: right;
    width: 20%;
    height: 40px;
    border: none;
    background-color: black;
    color: cornsilk;
    font-family: 'Quicksand', sans-serif,bold;
    font-size: 16px;
}



